//变量的使用(可以进行复制和加/减/乘/除运算)包括(number、color、variable)
@nice-blue: #5B83AD;
@light-blue: @nice-blue + #111; //#6c94be
@conversion: 5cm + 10cm; //15cm

#header {
  color: @light-blue;
}

//class名称作为变量
@my-select: banner;
.@{my-select} {
  font-weight: 200;
  line-height: 10px;
  margin: 20px;
}

//url使用-变量拼接
@image: '../img/';

.box {
  background: url('@{image}ttt.png');
}

//当变量定义多个时，只会使用最后定义的属性值
@var: 0;
.calss {
  @var: 1;

  .bress {
    @var: 2;
    three: @var;
    @var: 3;
  }

  one: @var;
}

//mixins混合模式可以混合模板
.mixins-color {
  border: 1px solid red;
  padding: 20px;
}

.mixins {
  .box {
    margin: 20px;
    .mixins-color; //或者.mixins-color()
  }

  .title {
    font-size: 20px;
    .mixins-color;
  }
}

//mixins混合想创建混合集可以添加括号()
.mixins-colors() {
  background-color: #009efb;
}

.box-title {
  .mixins-colors;
}

//层级嵌套
.box {
  font-size: 20px;

  .app {
    padding: 10px;
  }
}

//&的使用
.clearfix {
  display: block;
  zoom: 1;

  &:after { //&代表父元素，即clearfix
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

//指令嵌套和冒泡
.screen-color {
  @media screen {
    color: green;
    @media (min-width: 768px) {
      color: red;
    }
  }
  @media tv {
    color: black;
  }
}

#a {
  color: blue;
  @font-face {
    //src: made-up-url;
  }
  //padding: 2 2 2 2;
}

//function
@base: #f04615;
@width: 0.5;

.class {
  width: percentage(@width);
  color: saturate(@base, 5%);
  background-color: spin(lighten(@base, 25%), 8);
}
//变量计算
.average(@x,@y){
  @average:(@x+@y);
}
div{
  .average(15px,20px);
  padding: @average;
}
//引用
@import 'styles';

//extend 扩展
//:extend选择器会继承上面的样式
nav ul {
  &:extend(.inline);
  background-color: #009efb;
}

.inline {
  color: red;
}

//.inline,
//nav ul {
//  color: red;
//}
