ul li {
    width: 100px;
    height: 100px;
    display: inline-block;
    list-style: none;
    line-height: 100px;
    text-align: center;
    background-color: aqua;
}

ul {
    /*flex-direction: row;*/
}
